# speech to text and text to speech
realtimestt==0.3.104
realtimetts[kokoro,coqui,orpheus]==0.5.5

# webserver dependencies
fastapi
uvicorn[standard]

# configuration
python-dotenv

# llm providers
ollama
openai

# audio processing
torch
torchaudio
numpy
whisper-openai
pydub

# faster STT alternatives
speechrecognition
vosk
faster-whisper

# data validation
pydantic

# transformers is required by Coqui XTTS, using default bundled version